
code/.ipynb_checkpoints/*
code/.ipynb_checkpoints/*
code/__pycache__/*
*.DS_Store
input/datasets/.DS_Store
input/datasets/.ipynb_checkpoints/*
output/evalResults/.ipynb_checkpoints/*
output/model/*
input/.DS_Store
output/logs/*
output/inference/*
output/evalResults/*
input/.DS_Store
.DS_Store
